#company{
    margin-left:160px;
    color:blue;
}
.login{
    color:aqua;

}
body{
    background-color:lightyellow;
    color:brown;
}
.login-button:hover{
    background-color: blue;
    color:crimson;
}
clear-button:hover{
    background-color: blue;
    color:crimson;
}